.FriendsBlock{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2px;

	width: 90%;
	max-height: 200px;

	margin: 0 auto;
	padding: 10px;
	border: 1px solid #333333;

	overflow: auto;

	background-color: whitesmoke;
	box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
}