.formControl{

}

.formControl.error input,
.formControl.error textarea{
	box-shadow: 0 0 0 1px red;
}

.formControl.error input:focus,
.formControl.error textarea:focus{
	box-shadow: 0 0 1px 1px red;
	outline: none;
}

.formControl.error span{
	color: red;
}

.formSummaryError {
	box-shadow: 0 0 1px 1px orangered;
	padding: 5px;
	color: #fa6c00;
}