.header{
	grid-area: h;

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;

	background-color: green;

	box-shadow: 0px 0px 7px -1px rgba(0,0,0,0.2);
}
.header img{
	margin: 10px;
	width: 60px;
}

.loginBlock{
	min-height: 20px;
	color: white;
}

.logoutBlock{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.logoutBtn{
	display: block;

	width: 25px;
	height: 30px;

	margin-left: 30px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}