.descriptionBlock{
	display: grid;
	grid-gap: 20px;
	/*flex-direction: column;*/
	margin-top: 20px;
}
.avatarBlock{
	width: 200px;
	height: auto;
}
.avatarBlock img{
	width: 100%;
	height: auto;
}
.descriptions{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 25px;
}
.reductBtn_wrap{
	background-color: white;
}
.reductBtn{
	position: relative;
	transform: rotate(0deg);

	width: 30px;
	height: 30px;

	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@keyframes anim-btn-reductBtn {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}
.reductBtn:hover,
.reductBtn:focus{
	animation: anim-btn-reductBtn infinite 1500ms linear;
}
.reductBtn:hover::before,
.reductBtn:focus::before{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;

	background-color: transparent;

	border-radius: 50%;

	box-shadow: 0px 0px 8px 5px rgba(63, 84, 112, 0.3),
							inset 0px 0px 7px 3px rgba(63, 84, 112, 0.3);
}

.addPhotoBtn{
	position: relative;
	display: block;
	width: 40px;
	height: 30px;

	padding: 6px 12px;

	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
@keyframes anim-btn-addPhotoBtn {
	from{
		box-shadow: 0 0 0 0 rgb(202, 222, 252),
		inset 0 0 0 0 rgba(255, 252, 252, 0.4);
	}
	to{
		box-shadow: 0px 0px 30px 15px rgb(202, 222, 252),
		inset 0px 0px 12px 3px rgba(255, 252, 252, 0.6);
	}
}
.addPhotoBtn:hover::before,
.addPhotoBtn:hover::before{
	content: "";
	position: absolute;
	top: 10%;
	left: 54%;
	transform: translate(-50%, -10%);

	width: 20%;
	height: 20%;

	background-color: transparent;

	border-radius: 50%;

	animation: anim-btn-addPhotoBtn 2 150ms linear;
}

.descriptionName__fullname{
	font-size: 18px;
	font-weight: bold;
}

.lookingForAJob__searche{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contactList{
	list-style: none;
	margin: 15px 0;
	padding: 0;
}
@media (min-width:1000px) {
	.contactList{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 0;
		grid-column-gap: 50px;

		align-items: start;
		align-content: start;
	}
}

.formControl{

}

.formControl.error input,
.formControl.error textarea{
	box-shadow: 0 0 0 1px red;
}

.formControl.error input:focus,
.formControl.error textarea:focus{
	box-shadow: 0 0 1px 1px red;
	outline: none;
}

.formControl.error span{
	color: red;
}

.formSummaryError {
	box-shadow: 0 0 1px 1px orangered;
	padding: 5px;
	color: #fa6c00;
}