.App {
  text-align: center;
	background-color: white;

	box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.iconBlock{
	width: 50px;
	height: 35px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-wrapper{
	display: grid;
	grid-template-areas: "h h"
												"n c";
	grid-template-columns: 2fr 10fr;
	grid-template-rows: 60px 1fr;

}

.app-wrapper-content{
	grid-area: c;
}

.btn {
	background-color: transparent;
	outline: none;
	border: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.btn-send{
	transition: 0.2s linear;
	font-weight: bold;
	padding: 10px 12px;
	border: 2px solid #7638fc;
	border-radius: 8px;

	color: #08081d;

	box-shadow: 0px 0px 8px -1px rgba(184, 19, 255, 0.79),
							inset 0px 0px 6px -3px rgba(115,0,233,0.79);
}
.btn-send:hover,
.btn-send:focus{
	background-image: linear-gradient(rgba(109, 19, 255, 0.03), rgba(89, 0, 233, 0.03));
	box-shadow: 0px 0px 8px -1px rgba(109, 19, 255, 0.82),
							inset 0px 0px 6px -3px rgba(89, 0, 233, 0.82);
}

.formControl{
	box-shadow: 0 0 10px -1px black;
}

.formControl.error input,
.formControl.error textarea{
	box-shadow: 0 0 0 1px red;
}

.formControl.error input:focus,
.formControl.error textarea:focus{
	box-shadow: 0 0 1px 1px red;
	outline: none;
}

.formControl.error span{
	color: red;
}

.formSummaryError {
	box-shadow: 0 0 1px 1px orangered;
	padding: 5px;
	color: #fa6c00;
}